certifi==2024.12.14
charset-normalizer==3.4.0
colorama==0.4.6
decorator==4.4.2
idna==3.10
imageio==2.36.1
imageio-ffmpeg==0.5.1
lazy_loader==0.4
moviepy==2.1.1
networkx==3.4.2
numpy==2.2.0
packaging==24.2
pillow==10.4.0
proglog==0.1.10
python-dotenv==1.0.1
requests==2.32.3
scikit-image==0.25.0
scipy==1.14.1
setuptools==75.6.0
svgwrite==1.4.3
tifffile==2024.12.12
tqdm==4.67.1
urllib3==2.3.0